<div class="digitalClock">
    <div class="dayTitle">
        {{day}}
    </div>
    <div class="digitalTime">
        <div class="time">{{hour}} : &nbsp;</div>
        <div class="time">{{minute}} : &nbsp;</div>
        <div class="time">{{second}} &nbsp;</div>
        <div class="ampm">{{ampm}}</div>
    </div>
    <div class="timeIn">
        TIME IN:
    </div>
    <button class="time-btn-in" (click)="changeText()">{{ isDisabled ? 'TIME OUT' : 'TIME IN' }}</button>
    <button *ngif = "!btnVal" class="time-btn-out">TIME OUT</button>
    <textarea name="comment" id="comment" cols="30" rows="6" placeholder="Write Something..."></textarea>

    <img src="../../assets/camera-solid.svg" alt="camera" class="selfie">
</div>
